 .center 
 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.row 
{
  display: flex;  
}

.column 
{
    flex: 33.33%;
    padding: 8px;
}

ul 
{
    list-style-type: none;
}

li a
{
    list-style-type: none;
}

.container a 
{
    flex-direction: row;
}